html,
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
}
.price {
  letter-spacing: 2px;
}
.currency {
  margin-right: 0.2em;
}
.page-content {
  background-color: rgb(58, 58, 95);
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.page-content main {
  display: flex;
  flex-direction: column;
  width: 65vw;
  overflow: hidden;
  margin-left: auto;
}

.page-content header,
.page-content .description {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-content header {
  justify-content: center;
}
.page-content .description {
  justify-content: start;
}
.slider-paths .path {
  display: block;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translateX(-100vw);
}
.slider-paths .path:first {
  width: 10vw;
  background-color: rgb(238, 238, 159);
}
.slider-paths .path:nth-child(2) {
  background-color: white;
  width: 100vw;
}
.slider-paths .path:nth-child(1) {
  width: 10vw;
  background-color: rgb(116, 116, 231);
}
.lead {
  white-space: nowrap;
  font-size: 1.4em;
  display: inline;
  padding-right: 0.5em;
}

.specs {
  font-family: "Montserrat";
  font-weight: 600;
  margin: 1em 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex * {
  flex: 1 1 auto;
}
h1 {
  font-size: 5vw;
}
h2 {
  font-size: 3.5vh;
}
h1,
h2 {
  margin: 0;
  margin-bottom: 0.5em;
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 2.5vmin;
  line-height: 1.5;
  text-align: left;
  margin: 0;
}
.qr-section {
  margin: auto;
  margin-bottom: 2em;
}
.qr-code {
  min-width: 10vw;
  order: 1;
}
.main-infos {
  background-color: rgb(58, 58, 95);
  color: white;
  height: 20vh;
  margin-top: auto;
}
.image-slides {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  max-height: 80vh;
  display: block;
}
.image-slides img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.description {
  width: 30vw;
  margin-left: auto;
  background-color: rgb(95, 6, 83);
  color: white;
  padding: 1em;
}
.slide-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.418);
  z-index: 1;
}
.loader {
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(194, 194, 194);
}

.loader section {
  display: grid;
  grid-template-columns: repeat(10, auto);
}
.loader div {
  background-color: white;
  height: 100vh;
  transition: background-color 1s;
}
.loader h1 {
  font-size: 5em;
  position: absolute;
  top: 40%;
  left: 12%;
  opacity: 0;
  z-index: 2;
}
@media screen and (max-width: 480px) {
  .page-content {
    flex-direction: column;
  }
  .page-content main {
    min-height: 60vh;
    width: 100vw;
  }
  .page-content .description {
    max-height: 40vh;
    width: auto;
  }
  .description img {
    width: 100px;
  }
}
